name: CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: [self-hosted, np-runner]
    env:
      IMAGE_NAME: docker.io/anandms2026/network-agent
      TAG: uat
      OC_PROJECT: agentic-space

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Fetch latest files (force)
      run: |
        git fetch --force
        git checkout --force

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and push image
      uses: docker/build-push-action@v4
      with:
        # "." works because your files are in the root of the repo
        context: .
        push: true
        tags: ${{ env.IMAGE_NAME }}:${{ env.TAG }}

    - name: Login to OpenShift
      run: |
        # Using the full path we just verified
        oc login ${{ secrets.OCP_API_URL }} \
           --token=${{ secrets.OCP_TOKEN }} \
           --insecure-skip-tls-verify
        oc project ${{ env.OC_PROJECT }}

    - name: Deploy to OpenShift
      run: |
        oc apply -f dev-deploy.yaml -n agentic-space
        oc set image deployment/network-agent network-agent=${{ env.IMAGE_NAME }}:${{ env.TAG }} 
        oc rollout status deployment/network-agent --timeout=2m